In [1]:
import pandas as pd

In [2]:
from pyspark.sql import *

In [3]:
from pyspark import SparkContext

In [4]:
from pyspark.sql import SQLContext

sqlContext = SQLContext(sc)

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ss').getOrCreate()

In [6]:
data = spark.read.csv('anomaly_det_dashboard_shopper_conv.csv',header=True)

In [7]:
# get columns
df = data.selectExpr("totalshoppertraffic_visitors as visitors", "digital_orders as orders", "cust_prospect_ind as customer", "visit_device_type as device", "event_dt as date")

In [8]:
df = df.select('visitors', 'orders', 'customer', 'device',
    from_unixtime(unix_timestamp('date', 'MM/dd/y')).alias('date')
)

NameError: name 'from_unixtime' is not defined

In [ ]:
df = df.orderBy(df.date)

In [10]:
from pyspark.sql.functions import to_date

df.date = df.select(to_date(df.date,'MM/dd/yy').alias('date')).collect()

In [16]:
df.

+--------+------+------------+--------------+-------+
|visitors|orders|    customer|        device|   date|
+--------+------+------------+--------------+-------+
|  360930|  1024|UNDETERMINED|   All Devices|3/12/19|
|   13030|   291|    CUSTOMER|        Tablet|3/12/19|
|     927|     0|UNDETERMINED|Gaming Console|3/12/19|
|  251155|  4879|    CUSTOMER|   All Devices|3/12/19|
|  161097|  3820|    CUSTOMER|       Desktop|3/12/19|
|   21400|    90|    PROSPECT|  Mobile Phone|3/12/19|
|  270573|  1161|All Visitors|  Mobile Phone|3/12/19|
|      16|     1|    CUSTOMER|Gaming Console|3/12/19|
|  352032|  4574|All Visitors|       Desktop|3/12/19|
|    3107|    14|    PROSPECT|        Tablet|3/12/19|
|   33368|   374|All Visitors|        Tablet|3/12/19|
|   45624|   207|    PROSPECT|   All Devices|3/12/19|
|  657024|  6110|All Visitors|   All Devices|3/12/19|
|   20966|   103|    PROSPECT|       Desktop|3/12/19|
|     163|     0|    PROSPECT|Gaming Console|3/12/19|
|  172380|   304|UNDETERMINED|  Mobile Phone|3/12/19|
|    1106|     1|All Visitors|Gaming Console|3/12/19|
|  170359|   651|UNDETERMINED|       Desktop|3/12/19|
|   77045|   767|    CUSTOMER|  Mobile Phone|3/12/19|
|   17273|    69|UNDETERMINED|        Tablet|3/12/19|
+--------+------+------------+--------------+-------+
only showing top 20 rows

In [14]:
df.orderBy(df.date, ascending=True).show()

TypeError: Invalid argument, not a string or column: Row(date=datetime.date(2019, 3, 12)) of type <class 'pyspark.sql.types.Row'>. For column literals, use 'lit', 'array', 'struct' or 'create_map' function.

In [13]:
#df = df.select('visitors', 'orders', 'customer', 'device',
 #   from_unixtime(unix_timestamp('date', 'MM/dd/y')).alias('date'))
#df.orderBy(df.date)

TypeError: Invalid argument, not a string or column: Row(date=datetime.date(2019, 3, 12)) of type <class 'pyspark.sql.types.Row'>. For column literals, use 'lit', 'array', 'struct' or 'create_map' function.

In [10]:
cust_mobile = df.filter((df.customer == 'CUSTOMER') & (df.device == 'Mobile Phone'))

In [11]:
cust_mobile.visitors

Column<b'visitors'>

In [12]:
#spark.sql("""
 # SELECT TO_DATE(CAST(UNIX_TIMESTAMP(event_dt, 'MM/dd/yy') AS TIMESTAMP)) from myTable AS newdate"""
#).show()

In [13]:
#sqlContext.registerDataFrameAsTable(data, 'df' )

In [14]:
#sqlContext.registerDataFrameAsTable(data, "myTable")

In [15]:
#df2 = sqlContext.sql("SELECT totalshoppertraffic_visitors as visitors, digital_orders as orders, cust_prospect_ind as customer, visit_device_type as device, event_dt as dt from myTable")

In [16]:
data.printSchema()

root
 |-- totalshoppertraffic_visitors: string (nullable = true)
 |-- totalshoppertraffic_visits: string (nullable = true)
 |-- digital_orders: string (nullable = true)
 |-- aal_orders: string (nullable = true)
 |-- eup_orders: string (nullable = true)
 |-- nao_orders: string (nullable = true)
 |-- nse_orders: string (nullable = true)
 |-- nso_orders: string (nullable = true)
 |-- nsp_orders: string (nullable = true)
 |-- npp_orders: string (nullable = true)
 |-- total_orders: string (nullable = true)
 |-- cust_prospect_ind: string (nullable = true)
 |-- visit_device_type: string (nullable = true)
 |-- event_dt: string (nullable = true)

In [18]:
data.columns

['totalshoppertraffic_visitors',
 'totalshoppertraffic_visits',
 'digital_orders',
 'aal_orders',
 'eup_orders',
 'nao_orders',
 'nse_orders',
 'nso_orders',
 'nsp_orders',
 'npp_orders',
 'total_orders',
 'cust_prospect_ind',
 'visit_device_type',
 'event_dt']

In [20]:
data.count()

1211

In [23]:
data.describe('cust_prospect_ind').show()

+-------+-----------------+
|summary|cust_prospect_ind|
+-------+-----------------+
|  count|             1211|
|   mean|             null|
| stddev|             null|
|    min|     All Visitors|
|    max|     UNDETERMINED|
+-------+-----------------+

In [27]:
data.select('cust_prospect_ind')

DataFrame[cust_prospect_ind: string]

In [29]:
data.filter(data.cust_prospect_ind == 'CUSTOMER').count()

289

In [34]:
data.orderBy(data.cust_prospect_ind, ascending=True).show()

+----------------------------+--------------------------+--------------+----------+----------+----------+----------+----------+----------+----------+------------+-----------------+-----------------+--------+
|totalshoppertraffic_visitors|totalshoppertraffic_visits|digital_orders|aal_orders|eup_orders|nao_orders|nse_orders|nso_orders|nsp_orders|npp_orders|total_orders|cust_prospect_ind|visit_device_type|event_dt|
+----------------------------+--------------------------+--------------+----------+----------+----------+----------+----------+----------+----------+------------+-----------------+-----------------+--------+
|                       37658|                     40944|           385|        50|       240|        47|        19|        12|         6|        11|         460|     All Visitors|           Tablet| 3/21/19|
|                       46449|                     51348|           476|        58|       314|        52|        38|         6|         2|         6|         560|     All Visitors|           Tablet| 2/24/19|
|                      653760|                    718205|          5783|      1181|      2782|       736|       672|       244|        63|       105|        7192|     All Visitors|      All Devices| 3/21/19|
|                      270573|                    303420|          1161|       181|       425|       155|       269|        65|        32|        34|        1870|     All Visitors|     Mobile Phone| 3/12/19|
|                        2104|                      2175|             0|         0|         0|         0|         0|         0|         0|         0|           0|     All Visitors|   Gaming Console| 3/21/19|
|                       33368|                     36544|           374|        46|       213|        39|        40|         9|        17|        10|         449|     All Visitors|           Tablet| 3/12/19|
|                         906|                       929|             0|         0|         0|         0|         0|         0|         0|         0|           0|     All Visitors|   Gaming Console|  3/7/19|
|                        1106|                      1135|             1|         0|         1|         0|         0|         0|         0|         0|           1|     All Visitors|   Gaming Console| 3/12/19|
|                      227320|                    250100|          1049|       163|       399|       123|       258|        73|        15|        18|        2072|     All Visitors|     Mobile Phone|  3/7/19|
|                         110|                       124|             2|         0|         1|         0|         1|         0|         0|         0|           2|     All Visitors|   Gaming Console|  2/3/19|
|                      271604|                    293853|          4171|       752|      2375|       394|       341|        87|        33|       189|        5221|     All Visitors|          Desktop|  3/7/19|
|                      226302|                    249483|           922|       168|       350|       112|       211|        55|        14|        12|        1206|     All Visitors|     Mobile Phone|  2/3/19|
|                       25405|                     27283|           259|        37|       165|        24|        18|         9|         4|         2|         319|     All Visitors|           Tablet|  3/7/19|
|                      339804|                    378223|          1233|       228|       341|       177|       325|       108|        26|        28|        1966|     All Visitors|     Mobile Phone| 3/21/19|
|                      525185|                    572165|          5479|       952|      2939|       541|       617|       169|        52|       209|        7554|     All Visitors|      All Devices|  3/7/19|
|                       41521|                     45406|           373|        32|       230|        49|        27|         9|        15|        11|         451|     All Visitors|           Tablet| 3/29/19|
|                      706084|                    779600|          6060|      1128|      3013|       723|       754|       207|       105|       130|        7555|     All Visitors|      All Devices| 3/29/19|
|                       36930|                     40006|           292|        43|       171|        38|        21|         8|         4|         7|         338|     All Visitors|           Tablet|  2/3/19|
|                        2886|                      3022|             0|         0|         0|         0|         0|         0|         0|         0|           1|     All Visitors|   Gaming Console| 3/29/19|
|                      657024|                    726526|          6110|      1068|      3098|       720|       689|       172|        94|       269|        7750|     All Visitors|      All Devices| 3/12/19|
+----------------------------+--------------------------+--------------+----------+----------+----------+----------+----------+----------+----------+------------+-----------------+-----------------+--------+
only showing top 20 rows

In [17]:
#sqlContext.sql('select * from data').show()

In [18]:
def getSparkSession():
    return pyspark.sql.SparkSession.builder.getOrCreate()
 
def loadData(sparkSession):
    sparkSQL = sparkSession.read.format("jdbc").option("url", "jdbc:mysql://my-db-domain:3306/sfdc").option("dbtable", "sfdc.opportunity").option("user", "my-db-username").option("password", "my-db-password").load()
    sparkSQL.createOrReplaceTempView("opp")
    return sparkSQL.sql_ctx.sql("SELECT DATE_FORMAT(CloseDate,'yyyy-MM') as CloseDate, SUM(Amount) as Amount FROM opp WHERE IsWon='true' AND IsClosed='true' GROUP BY DATE_FORMAT(CloseDate,'yyyy-MM') ORDER BY CloseDate")
 
def saveData(result):
    result.show()

In [19]:
from pyspark.mllib.linalg import Vectors

In [20]:
MAX_P = 14
MAX_D = 14
MAX_Q = 14

In [21]:
def predict_ARIMA_Spark(amounts, period):
    spark_context = SparkContext.getOrCreate()
    model = spark_context._jvm.com.cloudera.sparkts.models.ARIMA.autoFit(_py2java(spark_context, Vectors.dense(amounts)), MAX_P, MAX_D, MAX_Q)
    p = _java2py(spark_context, model.p())
    d = _java2py(spark_context, model.d())
    q = _java2py(spark_context, model.q())
    jts = _py2java(spark_context, Vectors.dense(amounts))
    aic = model.approxAIC(jts)
    print ("ARIMA(", p, d, q, ")", "AIC=", aic)
    jfore = model.forecast(jts, period)
    return _java2py(spark_context, jfore)[len(amounts):]

In [22]:
import sys
if sys.version >= '3':
    long = int
    unicode = str

import py4j.protocol
from py4j.protocol import Py4JJavaError
from py4j.java_gateway import JavaObject
from py4j.java_collections import JavaArray, JavaList

from pyspark import RDD, SparkContext
from pyspark.serializers import PickleSerializer, AutoBatchedSerializer
from pyspark.sql import DataFrame, SQLContext

# Hack for support float('inf') in Py4j
_old_smart_decode = py4j.protocol.smart_decode

_float_str_mapping = {
    'nan': 'NaN',
    'inf': 'Infinity',
    '-inf': '-Infinity',
}


def _new_smart_decode(obj):
    if isinstance(obj, float):
        s = str(obj)
        return _float_str_mapping.get(s, s)
    return _old_smart_decode(obj)

py4j.protocol.smart_decode = _new_smart_decode


_picklable_classes = [
    'LinkedList',
    'SparseVector',
    'DenseVector',
    'DenseMatrix',
    'Rating',
    'LabeledPoint',
]


# this will call the MLlib version of pythonToJava()
def _to_java_object_rdd(rdd):
    """ Return a JavaRDD of Object by unpickling

    It will convert each Python object into Java object by Pyrolite, whenever the
    RDD is serialized in batch or not.
    """
    rdd = rdd._reserialize(AutoBatchedSerializer(PickleSerializer()))
    return rdd.ctx._jvm.org.apache.spark.mllib.api.python.SerDe.pythonToJava(rdd._jrdd, True)


def _py2java(sc, obj):
    """ Convert Python object into Java """
    if isinstance(obj, RDD):
        obj = _to_java_object_rdd(obj)
    elif isinstance(obj, DataFrame):
        obj = obj._jdf
    elif isinstance(obj, SparkContext):
        obj = obj._jsc
    elif isinstance(obj, list):
        obj = [_py2java(sc, x) for x in obj]
    elif isinstance(obj, JavaObject):
        pass
    elif isinstance(obj, (int, long, float, bool, bytes, unicode)):
        pass
    else:
        data = bytearray(PickleSerializer().dumps(obj))
        obj = sc._jvm.org.apache.spark.mllib.api.python.SerDe.loads(data)
    return obj


def _java2py(sc, r, encoding="bytes"):
    if isinstance(r, JavaObject):
        clsName = r.getClass().getSimpleName()
        # convert RDD into JavaRDD
        if clsName != 'JavaRDD' and clsName.endswith("RDD"):
            r = r.toJavaRDD()
            clsName = 'JavaRDD'

        if clsName == 'JavaRDD':
            jrdd = sc._jvm.org.apache.spark.mllib.api.python.SerDe.javaToPython(r)
            return RDD(jrdd, sc)

        if clsName == 'Dataset':
            return DataFrame(r, SQLContext.getOrCreate(sc))

        if clsName in _picklable_classes:
            r = sc._jvm.org.apache.spark.mllib.api.python.SerDe.dumps(r)
        elif isinstance(r, (JavaArray, JavaList)):
            try:
                r = sc._jvm.org.apache.spark.mllib.api.python.SerDe.dumps(r)
            except Py4JJavaError:
                pass  # not pickable

    if isinstance(r, (bytearray, bytes)):
        r = PickleSerializer().loads(bytes(r), encoding=encoding)
    return r


def callJavaFunc(sc, func, *args):
    """ Call Java Function """
    args = [_py2java(sc, a) for a in args]
    return _java2py(sc, func(*args))


def callMLlibFunc(name, *args):
    """ Call API in PythonMLLibAPI """
    sc = SparkContext.getOrCreate()
    api = getattr(sc._jvm.PythonMLLibAPI(), name)
    return callJavaFunc(sc, api, *args)


class JavaModelWrapper(object):
    """
    Wrapper for the model in JVM
    """
    def __init__(self, java_model):
        self._sc = SparkContext.getOrCreate()
        self._java_model = java_model

    def __del__(self):
        self._sc._gateway.detach(self._java_model)

    def call(self, name, *a):
        """Call method of java_model"""
        return callJavaFunc(self._sc, getattr(self._java_model, name), *a)


def inherit_doc(cls):
    """
    A decorator that makes a class inherit documentation from its parents.
    """
    for name, func in vars(cls).items():
        # only inherit docstring for public functions
        if name.startswith("_"):
            continue
        if not func.__doc__:
            for parent in cls.__bases__:
                parent_func = getattr(parent, name, None)
                if parent_func and getattr(parent_func, "__doc__", None):
                    func.__doc__ = parent_func.__doc__
                    break
    return cls

In [23]:
from pyspark.sql.types import IntegerType
cust_mobile = cust_mobile.withColumn("visitors", cust_mobile["visitors"].cast(IntegerType()))

In [24]:
import numpy as np

In [25]:
visitors = np.array([row for row in cust_mobile.select(cust_mobile.visitors).collect()]).flatten()

In [26]:
cust_mobile.select(cust_mobile.visitors).collect()[0]

Row(visitors=79575)

In [27]:
predict_ARIMA_Spark(visitors,7)

TypeError: 'JavaPackage' object is not callable

In [28]:
!pip install sparkts

Collecting sparkts
  Downloading https://files.pythonhosted.org/packages/f0/9f/6b86248f618fa0aaf0f8e48888347c6fc1c954881cabe36128935104e4fe/sparkts-0.2.0.tar.gz (45.5MB)
     |████████████████████████████████| 45.5MB 5.0MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.13 in /Users/6jncnk4f/anaconda3/lib/python3.7/site-packages (from sparkts) (0.24.2)
Requirement already satisfied: numpy>=1.9.2 in /Users/6jncnk4f/anaconda3/lib/python3.7/site-packages (from sparkts) (1.16.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/6jncnk4f/anaconda3/lib/python3.7/site-packages (from pandas>=0.13->sparkts) (2.8.0)
Requirement already satisfied: pytz>=2011k in /Users/6jncnk4f/anaconda3/lib/python3.7/site-packages (from pandas>=0.13->sparkts) (2019.1)
Requirement already satisfied: six>=1.5 in /Users/6jncnk4f/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas>=0.13->sparkts) (1.12.0)
Building wheels for collected packages: sparkts
  Building wheel for sparkts (setup.py) ... done
  Stored in directory: /Users/6jncnk4f/Library/Caches/pip/wheels/d3/57/5a/9af7c351e45adeee7e3e07e1a747fada0f56b930ec1b7acfb1
Successfully built sparkts
Installing collected packages: sparkts
Successfully installed sparkts-0.2.0

In [30]:
import sparkts

In [43]:
from sparkts.models import ARIMA

In [ ]:
def autofit(ts, maxp=5, maxd=2, maxq=5, sc=None):