In [71]:
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.metrics import mean_absolute_error
import math

In [10]:
df = pd.read_csv('result.csv')
df = df.iloc[:,np.arange(6)]
df.columns = ['customer','device','date','visitors','orders','rate']

In [91]:
df=pd.read_csv('forecast.csv')
df.columns = ['date','visitors','orders','rate','customer','device']

In [95]:
df0 = df[(df.customer == 'All Visitors') & (df.device == 'All Devices')].reset_index(drop=True)

df1 = df[(df.customer == 'CUSTOMER') & (df.device == 'Mobile Phone')].reset_index(drop=True)
df2 = df[(df.customer == 'CUSTOMER') & (df.device == 'Desktop')].reset_index(drop=True)
df3 = df[(df.customer == 'CUSTOMER') & (df.device == 'Tablet')].reset_index(drop=True)

df4 = df[(df.customer == 'UNDETERMINED') & (df.device == 'Mobile Phone')].reset_index(drop=True)
df5 = df[(df.customer == 'UNDETERMINED') & (df.device == 'Desktop')].reset_index(drop=True)
df6 = df[(df.customer == 'UNDETERMINED') & (df.device == 'Tablet')].reset_index(drop=True)

df7 = df[(df.customer == 'PROSPECT') & (df.device == 'Mobile Phone')].reset_index(drop=True)
df8 = df[(df.customer == 'PROSPECT') & (df.device == 'Desktop')].reset_index(drop=True)
df9 = df[(df.customer == 'PROSPECT') & (df.device == 'Tablet')].reset_index(drop=True)

In [121]:
sd = pd.read_csv('validate.csv')

In [122]:
sd.columns

Index(['totalshoppertraffic_visitors', 'totalshoppertraffic_visits',
       'digital_orders', 'aal_orders', 'eup_orders', 'nao_orders',
       'nse_orders', 'nso_orders', 'nsp_orders', 'npp_orders', 'total_orders',
       'cust_prospect_ind', 'visit_device_type', 'event_dt'],
      dtype='object')

In [123]:
sd = sd[['totalshoppertraffic_visitors','digital_orders','cust_prospect_ind','visit_device_type','event_dt']]

In [124]:
sd.columns = ['visitors','orders','customer','device','date']

In [125]:
sd.date = pd.to_datetime(sd.date)

In [126]:
sd = sd.sort_values(by=['date']).reset_index(drop=True)

In [127]:
sd = sd[sd.device!='Gaming Console']
sd = sd[sd.device!='E-Reader']

In [136]:
#sd = sd.tail(112).reset_index(drop=True)

In [137]:
sd = sd.tail(128).reset_index(drop=True)

In [138]:
sd['rate'] = sd.orders/sd.visitors

In [139]:
sd0 = sd[(sd.customer == 'All Visitors') & (sd.device == 'All Devices')].reset_index(drop=True)

sd1 = sd[(sd.customer == 'CUSTOMER') & (sd.device == 'Mobile Phone')].reset_index(drop=True)
sd2 = sd[(sd.customer == 'CUSTOMER') & (sd.device == 'Desktop')].reset_index(drop=True)
sd3 = sd[(sd.customer == 'CUSTOMER') & (sd.device == 'Tablet')].reset_index(drop=True)

sd4 = sd[(sd.customer == 'UNDETERMINED') & (sd.device == 'Mobile Phone')].reset_index(drop=True)
sd5 = sd[(sd.customer == 'UNDETERMINED') & (sd.device == 'Desktop')].reset_index(drop=True)
sd6 = sd[(sd.customer == 'UNDETERMINED') & (sd.device == 'Tablet')].reset_index(drop=True)

sd7 = sd[(sd.customer == 'PROSPECT') & (sd.device == 'Mobile Phone')].reset_index(drop=True)
sd8 = sd[(sd.customer == 'PROSPECT') & (sd.device == 'Desktop')].reset_index(drop=True)
sd9 = sd[(sd.customer == 'PROSPECT') & (sd.device == 'Tablet')].reset_index(drop=True)

In [140]:
def rmse(pred,test):
    pred = np.array(pred)
    test = np.array(test)
    return math.sqrt(sum(((pred-test)**2)))

In [141]:
def mase(pred,test,naive):
    mad_pred = mean_absolute_error(pred,test)
    mad_naive = mean_absolute_error(test,naive)
    return mad_pred/mad_naive

In [142]:
def mape(y_true, y_pred): 
    y_true = np.array(y_true)
    y_pred = np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [143]:
rmse(df0.visitors, sd0.visitors)

ValueError: operands could not be broadcast together with shapes (7,) (8,)

In [144]:
mape(df0.visitors, sd0.visitors)

ValueError: operands could not be broadcast together with shapes (7,) (8,)

In [97]:
l = [[df0,sd0],[df1,sd1],[df2,sd2],[df3,sd3],[df4,sd4],[df5,sd5],[df6,sd6],[df7,sd7],[df8,sd8],[df9,sd9]]

In [120]:
sd0

   index  visitors  orders      customer       device       date      rate
0   1079    647800    6545  All Visitors  All Devices 2019-03-25  0.010103
1   1103    654935    6258  All Visitors  All Devices 2019-03-26  0.009555
2   1119    665719    6333  All Visitors  All Devices 2019-03-27  0.009513
3   1137    686746    6075  All Visitors  All Devices 2019-03-28  0.008846
4   1157    706084    6060  All Visitors  All Devices 2019-03-29  0.008583
5   1180    624053    5448  All Visitors  All Devices 2019-03-30  0.008730
6   1202    599866    5447  All Visitors  All Devices 2019-03-31  0.009080

In [99]:
V_RMSE = []
V_MAPE=[]
O_RMSE = []
O_MAPE=[]
R_RMSE = []
R_MAPE=[]

for i in l:
    V_RMSE.append(rmse(i[0].visitors,i[1].visitors))
    V_MAPE.append(mape(i[0].visitors,i[1].visitors))
    
    O_RMSE.append(rmse(i[0].orders,i[1].orders))
    O_MAPE.append(mape(i[0].orders,i[1].orders))
    R_RMSE.append(rmse(i[0].rate,i[1].rate))
    R_MAPE.append(mape(i[0].rate,i[1].rate))

In [119]:
np.stack([V_RMSE,V_MAPE],1)
np.stack([O_RMSE,O_MAPE],1)
np.stack([R_RMSE,R_MAPE],1)

array([[1.49255655e-03, 5.54141768e+00],
       [4.94013665e-03, 1.51004467e+01],
       [1.40451982e-02, 1.56817803e+01],
       [2.27516851e-02, 2.66345649e+01],
       [2.75736849e-03, 3.62434720e+01],
       [1.42542409e-02, 6.01645150e+01],
       [8.95672239e-03, 6.85097515e+01],
       [2.96248388e-03, 1.81643932e+01],
       [6.67559442e-03, 3.81243350e+01],
       [4.34357441e-03, 4.55334470e+01]])

   index  visitors  orders  customer  device       date      rate
0   1085     14217     327  CUSTOMER  Tablet 2019-03-25  0.023001
1   1090     13932     296  CUSTOMER  Tablet 2019-03-26  0.021246
2   1127       413       2  CUSTOMER  Tablet 2019-03-27  0.004843
3   1145      4031      48  CUSTOMER  Tablet 2019-03-28  0.011908
4   1163     15102     303  CUSTOMER  Tablet 2019-03-29  0.020064
5   1178     16125     464  CUSTOMER  Tablet 2019-03-30  0.028775
6   1196     16201     409  CUSTOMER  Tablet 2019-03-31  0.025245